<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="artm.MvxPlugins.Logger" version="2.0.12" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="monoandroid70" />
  <package id="NLog" version="4.3.7" targetFramework="monoandroid60" />
</packages>